site_name: Server documentation
repo_url: https://github.com/projekt-zespolony/server
theme:
  name: material
plugins:
  - search
markdown_extensions:
  - codehilite
  - admonition
  - toc:
      permalink: ïƒ
